<!DOCTYPE HTML>
<html>
<head>
    <title>Админ панель</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>Добавдение цветов на склад
    <form method="post" action="admin">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="text" name="name" placeholder="название цветка"/>
        <input type="integer" name="price" placeholder="Цена"/>
        <input type="integer" name="amount" placeholder="Количество"/>
        <button type="submit">Добавить на склад</button>
    </form>
</div>

<body>
<div>Удаление цветка со склада
    <form method="post" action="delete">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="number" step=1 min=1 pattern=[0-9]{3} name="id" placeholder="Id"/>
        <button type="submit">Удалить цветок</button>
    </form>
</div>

<div>Добавить количество цветов на склад
    <form method="post" action="addamount">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="number" step=1 min=1 pattern=[0-9]{3} name="id" placeholder="Id"/>
        <input type="number" step=1 min=1 pattern=[0-9]{3} name="amount" placeholder="количество"/>
        <button type="submit">Добавить количество</button>
    </form>
</div>
<div>Изменение цены
    <form method="post" action="newprice">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="number" step=1 min=1 pattern=[0-9]{3} name="id" placeholder="Id"/>
        <input type="number" step=1 min=1 pattern=[0-9]{3} name="price" placeholder="цена"/>
        <!--    <input type="integer" name="price" placeholder="цена"/>-->
        <!--    <input type="integer" name="amount" placeholder="количество"/>-->
        <button type="submit">Изменить цену</button>
    </form>
</div>

<div>Склад цветов</div>
{{#flowers}}
    <div>
        <b>{{id}}</b>
        <b>{{name}}</b>
        <span>{{price}}</span>
        <i>{{amount}}</i>
{{/flowers}}
</div>

<div align="center">
    <a href="/admin2">Обработка заказов</a>
</div>
<div align="center">
    <a href="/user">Пользователи</a>
</div>
<div align="center">
    <form action="/logout" method="post">
        <input type="submit" value="Выход"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>

</body>
</html>