<!DOCTYPE HTML>
<html>
<head>
    <title>Админ панель</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>Заказы к выполнению</div>
{{#evidence1}}
    <div>
        <b>{{id}}</b>
        <b>{{date}}</b>
        <span>{{total}}</span>
        <i>{{status}}</i>
        <form action="/admin3" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="hidden" name="id" value="{{id}}"/>
            <input type="submit" value="Выполнить">
        </form>
{{/evidence1}}
</div>
<div>Черновики</div>
{{#evidence2}}
    <div>
        <b>{{id}}</b>
        <b>{{date}}</b>
        <span>{{total}}</span>
        <i>{{status}}</i>
        <form action="/admin2" method="post">
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
            <input type="hidden" name="id" value="{{id}}"/>
            <input type="submit" value="удалить">
        </form>
{{/evidence2}}
</div>
<div>Архив заказов</div>
{{#evidence3}}
    <div>
        <b>{{id}}</b>
        <b>{{date}}</b>
        <span>{{total}}</span>
        <i>{{status}}</i>
{{/evidence3}}
</div>
<div align="center">
    <a href="/admin">В админку</a>
</div>
<div align="center">
    <form action="/logout" method="post">
        <input type="submit" value="Выход"/>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
    </form>
</div>
</body>
</html>