<!DOCTYPE html>
<html>
<head>
    <title>login page</title>
</head>
<body>
<div align="center">
    <form action="/login" method="post">
        <div><label> Логин : <input type="text" name="username"/> </label></div>
        <div><label> Пароль : <input type="password" name="password"/> </label></div>
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <div><input type="submit" value="Войти"/></div>
        <div align="center"><a href="/registration">Регистрация</a></div>


    </form>
</div>
<div align="center">
    {{#message}}
            <b>{{message}}</b>
        {{/message}}
</div>
</body>
</html>