<!DOCTYPE HTML>
<html>
<head>
    <title>FlowerShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div>Распечатка заказа</div>
{{#show}}
    <div>
        <b>{{flower.getName}}</b>
        <b>{{amount}}</b>
        <span>{{sum}}</span>

{{/show}}
</div>
<div align="center">
    <a href="/room">Продолжить покупки</a>

</div>
</body>
</html>